.back-to-top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
    bottom: 1.5rem;
    right: 1.5rem;
    margin:1.5rem;
    cursor :pointer
}
